*{
  margin: 0;
  padding: 0;
}
body {
  background-image: -webkit-radial-gradient(ellipse, #2a437c 0, #10203b 100%);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  align-items: center;
  min-height: 100vh;
}
header > img{
  width: 7%;
  margin-top: 8px;
}
h1{
  margin-top: 2px;
  font-size: 45px;
  color: #fff;
  font-family: montserrat;
}
p{
  color: #fff;
}
.swiper-container {
  width: 100%;
  padding-top: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  background: black;
  -webkit-border-reflect: below 1px linear-gradient(transparent,transparent,#0006) ;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  cursor: pointer;
  transition: transform 2s;
}
.swiper-slide:hover img {
  transform: scale(1)
}

div.header1{
  text-align: center;
  justify-content: center;
}

section.boutonbas{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: space-between;
  margin: auto;
  margin-top: 35px;
  
 
}

.boutoncomp{
  border-radius: 5px;
  background-color: rgb(243, 212, 36);
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 55px;
  text-align: center;
  
  
}
.boutonjou{
  border-radius: 5px;
  background-color: sandybrown;
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 55px;
  text-align: center;
  
}
#p015{
  transition: transform 2s;
}
.details{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(9, 9, 10, 0.637);
  transform: scaleY(0);
  transition: transform 2s;
}



.details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #ffffff;
}
.swiper-slide:hover .details{
  transform: scaleX(1)
}

h2{
  margin-bottom: 20px;
}

img.logo{

  width: 20%;
  margin-right: 150px;
}

img.vs{

  width: 15%;
  margin-top: 8px;
  margin-right: 150px;
}


h3{

  position: relative;
  bottom: 35px;
  left: 20px;
  color:black;
}

h3.logo{
 
  position: relative;
  bottom: 40px;
  left: 20px;
  color: black;

}

